@import "src/app/core/sass/index";

.header-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem;
  color: $blue-dark;

  &:hover {
    color: $blue-light;
  }
}
