<div class="product-bill-container">
  <h1 class="title">Factura</h1>
  <section>
    <app-loading *ngIf="loading"></app-loading>
    <table *ngIf="!loading" class="table">
      <tr class="table-header">
        <th>Código</th>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>Precio Unitario</th>
        <th>Precio Total</th>
        <th></th>
      </tr>
      <tr *ngFor="let product of selectedProducts" class="table-body">
        <td>{{ product.code }}</td>
        <td>{{ product.name }}</td>
        <td class="quantity">{{ product.quantityToSell }}</td>
        <td class="price">{{ product.price | number: "1.0-0" }}</td>
        <td class="price">
          {{ product.price * product.quantityToSell | number: "1.0-0" }}
        </td>
        <td>
          <span
            class="material-icons-outlined delete-icon"
            (click)="removeItem(product.id)"
          >
            delete
          </span>
        </td>
      </tr>

      <ng-container *ngIf="selectedProducts.length > 0">
        <tr class="table-footer">
          <td colspan="4">Total:</td>
          <td class="total-value">{{ getTotalValue() | number: "1.0-0" }}</td>
          <td></td>
        </tr>
      </ng-container>
    </table>
    <button class="add-btn" (click)="createInvoice()">Generar factura</button>
  </section>

  <section>
    <h2 class="subtitle">Añadir productos a la factura:</h2>
    <app-loading *ngIf="loading"></app-loading>
    <table *ngIf="!loading" class="table">
      <tr class="table-header">
        <th>Código</th>
        <th>Producto</th>
        <th>Precio Unitario</th>
        <th>Cantidad en Inventario</th>
        <th>Cantidad a Facturar</th>
      </tr>

      <tr *ngFor="let product of products" class="table-body">
        <td>{{ product.code }}</td>
        <td>{{ product.name }}</td>
        <td class="price">{{ product.price | number: "1.0-0" }}</td>
        <td class="quantity">{{ product.amount }}</td>
        <td class="quantity">
          <input
            mat-input
            class="text-content"
            type="number"
            [min]="0"
            [max]="product.amount"
            [(ngModel)]="product.quantityToSell"
          />
        </td>
      </tr>
    </table>
    <button class="add-btn" (click)="addToInvoice()">
      Agregar productos a la factura
    </button>
  </section>
</div>
