@import "src/app/core/sass/index";

.global-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.drawer {
  display: none;
}

@include desktop {
  .drawer {
    display: block;
    width: 11rem;
    border-right: 0.2rem solid $blue-light;
  }
}
