// Colors
$white: #fff;
$black: #000;
$red: #d82a49;
$pink: #ffe7e7;
$green-light: #3bc171;
$green-dark: #2f9d5c;
$gray-light: #afafaf;
$gray-dark: #313131;
$blue-light: #69c1f7;
$blue-dark: #0574f2;
