@import "./app/core/sass/class-overriding";
@import "./app/core/sass/index";

:root,
html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
}

.pointer {
  cursor: pointer;
}

.dialog-style .mat-mdc-dialog-container {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 65rem;
  height: auto;
}

@include desktop {
  .dialog-style .mat-mdc-dialog-container {
    top: 20%;
    left: 25%;
  }
}
